:root {
  --clr-bg: #FFFFFF;
  --clr-text: #2E2E2E ;
  --clr-text-300: rgba(0, 0, 0, 0.2);

  --ff-base: "Poppins", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-weight: var(--fw-400);
}

.container {
  display: block;
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 750px) {
  .container {
    padding: 0 4rem;
  }
}